<h2>{{ 'stats_title' | i18n }}</h2>
<p>...</p>

<!--h4>{{ 'options_notifications_rules_label' | i18n }}</h4>
<ul>
    <li ng-repeat="preset in globals.notifications.rules.presets">
        <span ng-class="{'disabled': !options.notifications.presets[preset.key].enabled}">
            {{ globals.notifications.rules.prefix + '_' + preset.key | i18n }} - {{ options.notifications.presets[preset.key].dismiss | boolean:'details_peak_true':'details_peak_false' | i18n }}
        </span>
    </li>
</ul-->

<!--div class="panel panel-default">
    <div class="panel-heading"></div>
</div-->